Задание 1

In [32]:
word = 'testing'
dlina=len(word)
if dlina%2==0:
    print(word[int(dlina/2-1):int(dlina/2+1)])
else:
    print(word[int(dlina/2)])

t

Задание 2

In [33]:
number=int(input('Введите число:'))
sum=0
while number!=0:
    number=int(input('Введите число:'))
    sum=sum+number
print('Результат:\n', sum)

Введите число:1
Введите число:2
Введите число:3
Введите число:0
Результат:
 5

Задание 3

In [54]:
import copy
i=0
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)!=len(girls):
    print('Внимание, кто-то может остаться без пары!')
else:
    boys_sorted=sorted(boys)
    girls_sorted=sorted(girls)
    print('Идеальные пары:')
    while i < len(boys_sorted):
        print(boys_sorted[i],'и',girls_sorted[i] )
        i=i+1

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Задание 4

In [91]:
import math
i=0
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

while i < len(countries_temperature):
    e=countries_temperature[i][1]
    print(countries_temperature[i][0],'-',round((math.fsum(e)/len(e)-32)/1.8,1),'C')
    i=i+1

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

Задание 5

In [125]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]
result_user=[]
summa=0
for i in stream:
    i=i.split(',')
    summa=summa+int(i[2])
    result_user.append(i[1])
print('Среднее количество просмотров на уникального пользователя: ',round(summa/len(set(result_user)),2))

Среднее количество просмотров на уникального пользователя:  23.25

In [126]:
stream = [
'2018-01-01,user100,150',
'2018-01-07,user99,205',
'2018-03-29,user1001,81'
]
result_user=[]
summa=0
for i in stream:
    i=i.split(',')
    summa=summa+int(i[2])
    result_user.append(i[1])
print('Среднее количество просмотров на уникального пользователя: ',round(summa/len(set(result_user)),2))

Среднее количество просмотров на уникального пользователя:  145.33

Задание 6

In [9]:
#number=int(input('Введите число:'))

string=str(input('Введите числa:'))
spisok=string.split(' ')
spisok_dublei=[]
for i in set(spisok):
    if spisok.count(i) > 1:
         spisok_dublei.append(i)
spisok_dublei
if len(spisok_dublei)>0:
    print(' '.join(spisok_dublei))
else:
    print('Повторяющихся чисел нет')

Введите числa:1 1 1 2 2 2
1 2